.blog{
    width: 1152px;
    height: 396px;
    background-color: #EDF7FA;
    border-radius: 10px;
    margin-top: 75px;
}

.blog img{
    height: 140px;
    margin: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.25));
    transition-duration: 0.5s;
}

.blog .card:hover{
   transform: translateY(-10px); 
   transition-duration: 0.5s;
   height: 295px;
}

.blog h4{
    font-family: 'Heebo';
    font-size: 25px;
    font-weight: 520;
    line-height: 60px;
    text-align: left;
    color: #21243D;
    padding-left: 175px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.cards{
    display: flex;
    padding-left: 175px;
}

.card{
    width: 428px;
    height: 295px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    margin-right: 50px;
}

.card h1{
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #21243D;
    padding-left: 10px;
    padding-top: 20px;
    margin: 0px;
    width: 408px;
}

.card h2{
    font-size: 17px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    color: #21243D;
    padding-left: 10px;
    width: 408px;
    height: 117px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card p{
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #21243D;
    padding-left: 320px;
    margin: 10px;
}


.info{
    display: flex;
    padding-left: 10px;
}

.info h3{
    width: 195px;
    height: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    color: #21243D;
}