.introduction{
    text-align: left;
    margin-left: 15%;
    margin-top: 15%;
}

.introduction h1{
    font-family: 'Heebo';
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #21243D;
}

.introduction p{
    font-family: 'Heebo';
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    color: #21243D;
    
}