:root {
  font-family: 'Heebo';
  color: #21243D;
  background-color: #ffffff;
}

body {
  margin: 0;
  width: 1224px;
  height: 2041px;
  gap: 0px;
  opacity: 0px;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
